nav li{
    display: inline;
    margin: 0 20px;
}
nav li a{
    color:white;
    cursor: pointer;
    padding: 10px 20px;
}
    
.bars{
    display: none;
}

.dropdown{
    display:none
}
    
